.App {
  background-color: red;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d03f3f;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #DDDDDD;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-back {
  width: 160px;
  height: 40px;
  font-size: 18px;
  background-color: #d03f3f;
  border-radius: 12px;
  float: right;
  margin-right: 20px;
  border: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.flex-col {
  display: flex;
  flex-direction: column;
}

img {
  padding-top: 15px;
}

.label-login {
  font-size: 32px;
  padding-right: 35px;
  border-radius: 12px;
}

.input-login {
  font-size: 28px;
  border-radius: 12px;
  padding-left: 5px;
}

.button-login {
  width: 400px;
  height: 70px;
  font-size: 24px;
  background-color: #d03f3f;
  border-radius: 12px;
  border: 0px;
}

hr.solid {
  width: 600px;
}

.button-home {
  width: 275px;
  height: 90px;
  font-size: 32px;
  background-color: #f5efef;
  border-radius: 12px;
  border: 0px;
  margin-right: 25px;
  margin-top: 30px;
}

.select-appointment{
  width: 500px;
  height: 50px;
  font-size: 28px;
  margin: auto;
}

.button-appointment {
  width: 160px;
  height: 40px;
  font-size: 18px;
  background-color: #d03f3f;
  border-radius: 12px;
  margin-right: 20px;
  border: 0px;
}

.flex-row-report {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  
}

.report-label {
  font-size: 32px;
  padding-right: 35px;
  border-radius: 12px;
  width: 300px;
}

.report-label2 {
  font-size: 32px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 12px;
  width: 300px;
}

.long-input {
  font-size: 28px;
  border-radius: 12px;
  padding-left: 5px;
  width: 700px;
}

.short-input {
  font-size: 28px;
  border-radius: 12px;
  padding-left: 5px;
  width: 159.5px;
}

.select-date-report{
  font-size: 28px;
  border-radius: 12px;
  width: 711px;
}

.select-date-report2{
  font-size: 28px;
  border-radius: 12px;
  width: 170px;
}

.button-report {
  width: 200px;
  height: 40px;
  font-size: 18px;
  background-color: #d03f3f;
  border-radius: 12px;
  margin-right: 20px;
  border: 0px;
}

.button-account {
  width: 700px;
  height: 80px;
  font-size: 30px;
  background-color: #f0eff5;
  color: #1f3ad3;
  border-radius: 12px;
  border: 0px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 20px;
}

.label-account {
  margin-right: 15px;
  width: 300px;
  font-size: 30px;
  display: inline-block;
  text-align: left;
}

.contenedor-moneda{
  width: 764px;       
  height: 177px;
  margin: 0 auto;
  background: #F5F5F5;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top:50px;
}

.nombre-moneda{
  width: 764px;
  height: 54px;
  left: 100px;
  top: 100px;
  margin: 0 auto;
  background: #C44444;
  border-radius: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;

  color: #FFFFFF
}


.valores-moneda{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.label-compra-venta{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 41px;
  padding: 1px;
  display: flex;
  justify-content: space-around;
}

.contenedor-input-plan{
  width: 600px;       
  height: 577px;
  margin: 0 auto;
  background: #F5F5F5;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}


.label-ahorro{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: block;
  margin: .5em 0 0 0;
  
}

.input-ahorro{
  font-size: 24px;
  border-radius: 12px;
  padding-left: 5px;
  
  background: #FFFFFF;
  border-radius: 20px;
}

.select-ahorro{
  width: 275px;
  height: 50px;
  font-size: 24px;
  margin: auto;
}

.button-ahorro {
  width: 160px;
  height: 40px;
  font-size: 18px;
  background-color: #d03f3f;
  border-radius: 12px;
  
  margin-top: 20px;
  border: 0px;
  
}

.contenedor-plan{
  width: 764px;       
  height: 177px;
  margin: 0 auto;
  background: #F5F5F5;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top:50px;
}

.nombre-plan{
  width: 764px;
  height: 54px;
  left: 100px;
  top: 100px;
  margin: 0 auto;
  background: #C44444;
  border-radius: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;

  color: #FFFFFF
}

.datos-plan{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.label-ver-ahorro{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 41px;
  padding: 1px;
  display: flex;
  justify-content: space-around;
}